{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col-6">
              <form action="{{ url_for('gsc.add_data') }}" method="POST">
                  {{ form.hidden_tag() }}
                  {% if not adddata.full_name %}
                    <div class="input-group-prepend">
                        {{ form.full_name.label }}
                        {{ form.full_name() }}
                    </div>
                  <br>
                  {% endif %}
                  {% if not adddata.age %}
                    <div class="input-group-prepend">
                        {{ form.age.label }}
                        {{ form.age() }}
                    </div>
                  <br>
                  {% endif %}
                   {% macro render_bootstrap_field(field) %}
                    <div class="form-group {% if field.errors %} error {% endif %}">
                        <label>{{ field.label }}</label>
                            {{ field(class='form-control')|safe }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="help-inline">[{{ error }}]</span><br>
                                {% endfor %}
                            {% endif %}
                    </div>
                    {% endmacro %}
                  {% if adddata.srad == "('0', '')" %}
                    <div class="input-group-prepend">
                        {{ render_bootstrap_field(form.srad) }}
                    </div>
                  {% endif %}
                  {% if not adddata.creatinine %}
                    <div class="input-group-prepend">
                        {{ form.creatinine.label }}
                        {{ form.creatinine() }}
                    </div>
                  <br>
                  {% endif %}
                  {% if not adddata.platelets %}
                    <div class="input-group-prepend">
                        {{ form.platelets.label }}
                        {{ form.platelets() }}
                    </div>
                  <br>
                  {% endif %}
                  {% if not adddata.bilirubin %}
                    <div class="input-group-prepend">
                        {{ form.bilirubin.label }}
                        {{ form.bilirubin() }}
                    </div>
                  <br>
                  {% endif %}
                  {% if not adddata.pao2_fio2 %}
                    <div class="input-group-prepend">
                        {{ form.pao2_fio2.label }}
                        {{ form.pao2_fio2() }}
                    </div>
                  <br>
                  {% endif %}
                  {% macro render_bootstrap_field(field) %}
                    <div class="form-group {% if field.errors %} error {% endif %}">
                        <label>{{ field.label }}</label>
                            {{ field(class='form-control')|safe }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="help-inline">[{{ error }}]</span><br>
                                {% endfor %}
                            {% endif %}
                    </div>
                  {% endmacro %}
                  {% if adddata.eye_response == "('0', '')" %}
                    <div class="input-group-prepend">
                        {{ render_bootstrap_field(form.eye_response) }}
                    </div>
                  {% endif %}
                  {% macro render_bootstrap_field(field) %}
                    <div class="form-group {% if field.errors %} error {% endif %}">
                        <label>{{ field.label }}</label>
                            {{ field(class='form-control')|safe }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="help-inline">[{{ error }}]</span><br>
                                {% endfor %}
                            {% endif %}
                    </div>
                  {% endmacro %}
                  {% if adddata.verbal_response == "('0', '')" %}
                    <div class="input-group-prepend">
                        {{ render_bootstrap_field(form.verbal_response) }}
                    </div>
                  {% endif %}
                  {% macro render_bootstrap_field(field) %}
                    <div class="form-group {% if field.errors %} error {% endif %}">
                        <label>{{ field.label }}</label>
                            {{ field(class='form-control')|safe }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="help-inline">[{{ error }}]</span><br>
                                {% endfor %}
                            {% endif %}
                    </div>
                  {% endmacro %}
                  {% if adddata.motor_response == "('0', '')" %}
                    <div class="input-group-prepend">
                        {{ render_bootstrap_field(form.motor_response) }}
                    </div>
                  {% endif %}
                  <input type="hidden" name="index" value="{{number}}">
                   {{ form.add }}
                  <!-- button -->
                 </form>
            </div>
        </div>
{% endblock %}