{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col-7">
                {% include('messages.html') %}
                <form action="{{ url_for('index') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="input-group-prepend">
                        {{ form.full_name.label }}
                        {{ form.full_name() }}
                    </div>
                    <br>
                    <div class="input-group-prepend">
                        {{ form.age.label }}
                        {{ form.age() }}
                    </div>
                    <br>
                    <div class="input-group-prepend">
                        {{ form.number.label }}
                        {{ form.number() }}
                    </div>
                    {% macro render_bootstrap_field(field) %}
                    <div class="input-group-prepend {% if field.errors %} error {% endif %}">
                        <label>{{ field.label }}</label>
                            {{ field(class='form-control')|safe }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="help-inline">[{{ error }}]</span><br>
                                {% endfor %}
                            {% endif %}
                    </div>
                    {% endmacro %}
                    <div class="form-group">
                        {{ render_bootstrap_field(form.srad) }}
                    </div>
                    <div class="input-group-prepend">
                        {{ form.creatinine.label }}
                        {{ form.creatinine() }}
                    </div>
                    <br>
                    <div class="input-group-prepend">
                        {{ form.platelets.label }}
                        {{ form.platelets() }}
                    </div>
                    <br>
                    <div class="input-group-prepend">
                        {{ form.bilirubin.label }}
                        {{ form.bilirubin() }}
                    </div>
                    <br>
                    <div class="input-group-prepend">
                        {{ form.pao2_fio2.label }}
                        {{ form.pao2_fio2() }}
                    </div>
                    <br>
                    {% macro render_bootstrap_field(field) %}
                    <div class="input-group-prepend {% if field.errors %} error {% endif %}">
                        <label>{{ field.label }}</label>
                            {{ field(class='form-control')|safe }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="help-inline">[{{ error }}]</span><br>
                                {% endfor %}
                            {% endif %}
                    </div>
                    {% endmacro %}
                    <div class="form-group">
                        {{ render_bootstrap_field(form.eye_response) }}
                    </div>
                    {% macro render_bootstrap_field(field) %}
                    <div class="input-group-prepend {% if field.errors %} error {% endif %}">
                        <label>{{ field.label }}</label>
                            {{ field(class='form-control')|safe }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="help-inline">[{{ error }}]</span><br>
                                {% endfor %}
                            {% endif %}
                    </div>
                    {% endmacro %}
                    <div class="form-group">
                        {{ render_bootstrap_field(form.verbal_response) }}
                    </div>
                    {% macro render_bootstrap_field(field) %}
                    <div class="input-group-prepend {% if field.errors %} error {% endif %}">
                        <label>{{ field.label }}</label>
                            {{ field(class='form-control')|safe }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="help-inline">[{{ error }}]</span><br>
                                {% endfor %}
                            {% endif %}
                    </div>
                    {% endmacro %}
                    <div class="form-group">
                        {{ render_bootstrap_field(form.motor_response) }}
                    </div>
                    {{ form. submit }}
                </form>
            </div>
            <div class="col-7">

            </div>
        </div>
{% endblock %}